body {
    margin: 0;
    padding: 0;
    background-image: url('BOOKMARK.png');
    background-size: cover; /* makes image cover the whole page */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents repeating */
    height: 100vh; /* ensures full height */
}

a {
    color: yellow; /* changes link color */
}

a:visited {
    color: yellow; /* changes visited link color */
}

a:hover {
    color: orange; /* changes color when mouse hovers */
}

a:active {
    color: green; /* color when clicked */
}